
# common
MONGODB_ENCRYPT_KEYS[0]_VERSION=
MONGODB_ENCRYPT_KEYS[0]_KEY=
MONGODB_ENCRYPT_FIELDS=

# mapper
ALUMNI_APP_MONGODB_URI=
ALUMNI_APP_JWT_ISSUER_URI=
ALUMNI_APP_IDENTITY_SIGNICAT_CLIENT_ID=
ALUMNI_APP_IDENTITY_SIGNICAT_CLIENT_SECRET=
ALUMNI_APP_IDENTITY_SIGNICAT_REDIRECT_URI=

ALUMNI_APP_IDENTITY_B2C_CLIENT_ID=
ALUMNI_APP_IDENTITY_B2C_CLIENT_SECRET=
ALUMNI_APP_IDENTITY_B2C_TENANT_ID=
ALUMNI_APP_IDENTITY_B2C_SSID_PROPERTY=

# sync
ALUMNI_SYNC_DB_URL=
ALUMNI_SYNC_DB_USERNAME=
ALUMNI_SYNC_DB_PASSWORD=
ALUMNI_SYNC_MONGODB_URI=
ALUMNI_SYNC_SERVICEBUS_EMPLOYEEDATASYNC_QUEUE_NAME=
ALUMNI_SYNC_SERVICEBUS_PAYSLIPFILESYNC_QUEUE_NAME=
ALUMNI_SYNC_SERVICEBUS_CONNECTION_STRING=
ALUMNI_SYNC_JWT_ISSUER_URI=

# sap
SAP_API_OAUTH2_CLIENT_NAME=
SAP_API_OAUTH2_CLIENT_ID=
SAP_API_OAUTH2_CLIENT_SECRET=
SAP_API_OAUTH2_SCOPE=
SAP_API_OAUTH2_TOKEN_URI=
SAP_API_ENDPOINT_PERSONALDATA_URL=
SAP_API_ENDPOINT_PAYROLLDATA_URL=
SAP_API_ENDPOINT_PAYSLIPDATA_URL=
SAP_API_SUBSCRIPTION_KEY=
