{
  "authority": "",
  "clientId": "",
  "clientSecret": "",
  "scopes": [""],

  "environment": "",
  "tenantId": "",

  "users": {
    "pristine": {
      "username": "",
      "password": ""
    },
    "nooptin": {
      "username": "",
      "password": ""
    },
    "main": {
      "username": "",
      "password": ""
    }
  }
}
