BASE_PATH=
HELPDESK_PATH=

# MSAL
MSAL_CLIENT_ID=
MSAL_PRIVATE_AUTHORITY=
MSAL_CORPORATE_AUTHORITY=
MSAL_REDIRECT_URI=
MSAL_KNOWN_AUTHORITIES=

# SIGNICAT
SIGNICAT_CLIENT_ID=
SIGNICAT_REDIRECT_URI=
SIGNICAT_AUTHORIZE_URL=
SIGNICAT_ACR_VALUES=
SIGNICAT_PROFILE=
